body {
  background-color: thistle;
}

header {
  background-color: lavender;
}

ul {
  list-style-type: none;
  text-align: center;
}

.block-container {
  background-color: lavender;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: [header-left] 'h2 h2 h2 h2 h2' 1fr [header-right]
  [main-left] 'block block block form form' auto [main-right]
  [footer-left] 'color color pen form form ' 1fr [footer-right];
}

  h3 {
    color: purple;
    grid-area: h2;
  }

  #block {
    grid-area: block;
    display: table;
    border-spacing: 1px;
    background-color: black;
    height: auto;
    width: 100%;
    grid-template: repeat(25, 1fr) / repeat(25, 1fr);
  }

.row {
  display: table-row;
}

  .pixel {
    display: table-cell;
    background-color: white;
    font-size: 1em;
    width: 1em;

  }

  .pixel:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .block-details {
    background-color: antiquewhite;
    grid-area: form;
  }

  #palette {
    background-color: burlywood;
    grid-area: color;
    display: flex;
    justify-content: space-evenly;
  }

  .color {
    text-align:center;
  }

  #pen {
    background-color: burlywood;
    grid-area: pen;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.card-container {
  background-color: lavender;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: [header-left] 'h2' 1fr [header-right]
  [main-left] 'cards' auto [main-right]
  [footer-left] 'load' 1fr [footer-right];
}

.cards {
  background-color: khaki;
  grid-area: cards
}

.load {
  background-color: linen;
  grid-area: load;
}

footer {
  background-color: lavender;
}

