body {
  background-color: thistle;
}

header {
  background-color: lavender;
}

.block-container {
  background-color: lavender;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: [header-left] 'h2 h2 h2 h2 h2' 1fr [header-right]
  [main-left] 'block block block form form' auto [main-right]
  [footer-left] 'color color color form form' 1fr [footer-right];
}

  h3 {
    color: purple;
    grid-area: h2;
  }

  #block {
    grid-area: block;
    display: table;
    border-spacing: 1px;
    background-color: black;
    height: auto;
    width: 100%
  }

  .row {
    display: table-row;
  }

  .pixel {
    display: table-cell;
    background-color: white;
    width: 1em;
    height: 1em;
  }

  .block-details {
    background-color: antiquewhite;
    grid-area: form;
  }

  .block-colors {
    background-color: burlywood;
    grid-area: color;
  }



.card-container {
  background-color: lavender;
  display: grid;
  width: 100%;
  height: 500px;
  grid-template: [header-left] 'h2' 10% [header-right]
  [main-left] 'color' 10% [main-right]
  [main-left] 'cards' auto [main-right]
  [footer-left] 'load' 10% [footer-right];
}

.cards {
  background-color: khaki;
  grid-area: cards
}

.load {
  background-color: linen;
  grid-area: load;
}

footer {
  background-color: lavender;
}

