body {
  background-color: #eef0f2;
  color: #2e294e;
  max-width: 850px;
  margin: 0 auto;

}

ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin-left: 10px;
}

.block-container {
  background-color: #fff7f8;
  display: grid;
  width: 100%;
  height: auto;
  padding: 5px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "head head" "block form" "color color";
  /*grid-template: [header-left] 'head head head head head' auto [header-right]*/
  /*    [main-left] 'block block block block form' auto [main-right]*/
  /*[footer-left] 'color color color color color' auto [footer-right];*/
}

h1 {
  color: #114b5f;
}
h2,
h4,
h5,
h6 {
  margin-left: 10px;
  color: #820263;
}

.block-header {
  grid-area: head;

}
#Template {
  margin-left: 10px;
}

.block {
  grid-area: block;
  display: table;
  border-spacing: 1px;
  background-color: black;
  height: auto;
  width: 100%;
  grid-template: repeat(25, 1fr) / repeat(25, 1fr);
}

.row {
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  font-size: 1em;
  width: 1em;

}

.pixel:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.block-details {
  grid-area: form;
  text-align: center;
  margin-left: 10px;
  margin-right: 20px;
}

.block-details p {
  display: inline-block;
  text-align: left;
  width: 95%;
}

.block-form {
  display: inline-block;
  text-align: left;
  width: 90%
}
.palette-form {
  grid-area: color;
}
#palette {
  display: flex;
  justify-content: space-around;
}

.color {
  text-align:center;
}

#pen {
  grid-area: pen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  background-color: #fff7f8;
  display: grid;
  width: 100%;
  height: auto;
  padding: 5px;
  grid-template-columns: 4fr;
  grid-template-rows: auto auto;
  grid-template-areas: "h2" "cards";
  grid-template: [header-left] 'h2' 1fr [header-right]
  [main-left] 'cards' auto [main-right]
}

.cards {
  grid-area: cards;
}

.card {
  background-color: #eef0f2;
  display: block;
  width: 24%;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
  height: auto;
  border-radius: 4px;
}

.fa-times-circle {
  position: relative;
  padding-left: 3px;
  background-color: inherit;
  border: none;
  z-index: 1
}

.card ul {
  text-align: center;
  padding-left: 0;
  margin: 5px;
}

.card h3 {
  color: #114b5f;
  position:relative;
  top: -22px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0
}

.viewButton {
  margin: 0 auto;
  text-align: center;
}

.About {
  background-color: #fff7f8;
  width: 100%;
  height: auto;
  padding: 5px;
}

.About p {
  margin-left: 5px;
  margin-right: 5px;
}

.About ul {
  list-style-type: circle;
  text-align: left;
  padding-left: 10px;
  margin-left: 10px;
}